# Ignore the header files in the config directory but not their sample
# (i.e. keep the samples in VCS but dont watch the changes to the actual files)
libraries/Statox_Config/*.h
!libraries/Statox_Config/*.sample.h
